# Exploratory Data Analysis (EDA)

### **All exercises will be using your chosen dataset**

## Step 1: Import your dataset using the tutorial from the slides

## Step 2: Install necessary libraries. We are using Pandas and NumPy for week 1

In [ ]:
!pip install pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Exercises

### Pandas and NumPy Docs for Reference

#### [Pandas Documentation](https://pandas.pydata.org/docs/)

#### [NumPy Documentation](https://numpy.org/devdocs/)

## Pandas

### Exercise 1: Previewing The Dataset

In [ ]:
# TODO: Read dataset into a Pandas dataframe
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Sleep_health_and_lifestyle_dataset.csv')

Mounted at /content/drive

In [22]:
# TODO: print the first 7 rows
df.head(7)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia

In [23]:
# TODO: print the last 5 rows
df.tail(5)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [24]:
# TODO: print 5 random rows
df.sample(5)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
32,31,Nurse,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN
86,35,Engineer,7.2,8,60,4,Normal,125/80,65,5000,NaN
186,43,Teacher,6.7,7,45,4,Overweight,135/90,65,6000,Insomnia
68,33,Scientist,6.2,6,50,6,Overweight,128/85,76,5500,NaN
185,42,Teacher,6.8,6,45,7,Overweight,130/85,78,5000,Sleep Apnea

Write what each row and what each column represents:

### Exercise 2: Examining features/shape

In [25]:
# TODO: Print dataset shape
df.shape

(374, 11)

In [26]:
# TODO: Print the names of the columns
df.columns

Index(['Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'BMI Category',
       'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [29]:
# TODO: Drop any identifier columns like names, id, etc...

In [30]:
# TODO: Print all the data types of the columns
df.dtypes

Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [31]:
# TODO: Find the counts of each data type
df.dtypes.value_counts()

int64      6
object     4
float64    1
Name: count, dtype: int64

### Exercise 3: Missing/Duplicate Values

In [ ]:
# TODO: Find the number of missing values per column

In [ ]:
# TODO: identify the column with the most missing values

In [ ]:
# TODO: Either drop the rows with missing values or impute them

In [ ]:
# TODO: Drop duplicate rows if there are any

### Exercise 4: Statistics

In [ ]:
# TODO: Choose one numeric column and store its name in a variable

In [ ]:
# TODO: print a summary of statistics using .describe() for that column

In [ ]:
# TODO: Compare the mean and median of the column

What can the mean and median of this column tell you about the distribution of data?

### Exercise 5: Filtering/GroupBy

In [ ]:
# TODO: From any of the columns, look for suspicious values
# (like negative numbers)

In [ ]:
# TODO: From any categorical column, create and display a dataset that only
# contains one of the categories

In [ ]:
# TODO: Using that same categorical column, group by that column and find how
# many rows belong to each of the groups

Determine which group shows up the least and which shows up the most:

## NumPy

### Exercise 6 NumPy Operations

In [ ]:
# TODO: Choose two numeric columns and put them into a list variable

In [ ]:
# TODO: Convert those columns into a numpy matrix (ndarray)

In [ ]:
# TODO: Print the shape of the data

### Exercise 7: More Statistics

In [ ]:
# TODO: Compute the mean of each columns (axis = 0)

In [ ]:
# TODO: Compute the standard deviation of the columns

In [ ]:
# TODO: Compute the mean of each row (axis = 1)

In [ ]:
# TODO: Compute the std deviation of each row

### Exercise 8: Math Operations

In [ ]:
# TODO: Calculate the dot product of the two original columns (you can think of these columns as vectors)

In [ ]:
# TODO: Calculate the magnitude of both columns

In [ ]:
# TODO: Find the cosine similarity (dot product / product of magnitudes)

The cosine similarity is used to determine how related two features are to each other. A high value indicates that these features are highly correlated which means that changes in one variable corresponds to changes in the other. This is called **collinearity**.

Using two or more highly correlated features in a machine learning algorithm can lead to numerous problems such as redundant information and reduced model reliability

### Exercise 9: Further Analysis

#### Continue exploring and gaining more insights into your data. Utilize the docs linked above.