# Exploratory Data Analysis (EDA)

### **All exercises will be using your chosen dataset**

## Step 1: Import your dataset using the tutorial from the slides

## Step 2: Install necessary libraries. We are using Pandas and NumPy for week 1

In [ ]:
!pip install pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Exercises

### Pandas and NumPy Docs for Reference

#### [Pandas Documentation](https://pandas.pydata.org/docs/)

#### [NumPy Documentation](https://numpy.org/devdocs/)

## Pandas

### Exercise 1: Previewing The Dataset

In [ ]:
# TODO: Read dataset into a Pandas dataframe
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Sleep_health_and_lifestyle_dataset.csv')

Mounted at /content/drive

In [22]:
# TODO: print the first 7 rows
df.head(7)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia

In [23]:
# TODO: print the last 5 rows
df.tail(5)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [24]:
# TODO: print 5 random rows
df.sample(5)

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
32,31,Nurse,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN
86,35,Engineer,7.2,8,60,4,Normal,125/80,65,5000,NaN
186,43,Teacher,6.7,7,45,4,Overweight,135/90,65,6000,Insomnia
68,33,Scientist,6.2,6,50,6,Overweight,128/85,76,5500,NaN
185,42,Teacher,6.8,6,45,7,Overweight,130/85,78,5000,Sleep Apnea

Write what each row and what each column represents:

### Exercise 2: Examining features/shape

In [25]:
# TODO: Print dataset shape
df.shape

(374, 11)

In [26]:
# TODO: Print the names of the columns
df.columns

Index(['Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'BMI Category',
       'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [29]:
# TODO: Drop any identifier columns like names, id, etc...

In [30]:
# TODO: Print all the data types of the columns
df.dtypes

Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [31]:
# TODO: Find the counts of each data type
df.dtypes.value_counts()

int64      6
object     4
float64    1
Name: count, dtype: int64

### Exercise 3: Missing/Duplicate Values

In [32]:
# TODO: Find the number of missing values per column
df.isna().sum()

Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [33]:
# TODO: identify the column with the most missing values
df.isna().sum().idxmax()

'Sleep Disorder'

In [34]:
# TODO: Either drop the rows with missing values or impute them
df.dropna()

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
3,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
16,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...
369,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [35]:
# TODO: Drop duplicate rows if there are any
df.drop_duplicates()

,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...
358,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,NaN
359,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,NaN
360,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
364,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
366,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

### Exercise 4: Statistics

In [45]:
# TODO: Choose one numeric column and store its name in a variable
QSleep = 'Quality of Sleep'

In [52]:
# TODO: print a summary of statistics using .describe() for that column
df[QSleep].describe()

count    374.000000
mean       7.312834
std        1.196956
min        4.000000
25%        6.000000
50%        7.000000
75%        8.000000
max        9.000000
Name: Quality of Sleep, dtype: float64

In [55]:
# TODO: Compare the mean and median of the column
df[QSleep].mean()
df[QSleep].median()

7.0

What can the mean and median of this column tell you about the distribution of data?

### Exercise 5: Filtering/GroupBy

In [60]:
# TODO: From any of the columns, look for suspicious values
# (like negative numbers)
df[df[QSleep] < 0]

Empty DataFrame
Columns: [Age, Occupation, Sleep Duration, Quality of Sleep, Physical Activity Level, Stress Level, BMI Category, Blood Pressure, Heart Rate, Daily Steps, Sleep Disorder]
Index: []

In [63]:
# TODO: From any categorical column, create and display a dataset that only
# contains one of the categories
df[df['Quality of Sleep'] == '']

Empty DataFrame
Columns: [Age, Occupation, Sleep Duration, Quality of Sleep, Physical Activity Level, Stress Level, BMI Category, Blood Pressure, Heart Rate, Daily Steps, Sleep Disorder]
Index: []

In [64]:
# TODO: Using that same categorical column, group by that column and find how
# many rows belong to each of the groups
df.groupby('Quality of Sleep').size()

Quality of Sleep
4      5
5      7
6    105
7     77
8    109
9     71
dtype: int64

Determine which group shows up the least and which shows up the most:

## NumPy

### Exercise 6 NumPy Operations

In [65]:
# TODO: Choose two numeric columns and put them into a list variable
random_list = ['Quality of Sleep', 'Sleep Duration']

In [66]:
# TODO: Convert those columns into a numpy matrix (ndarray)
df[random_list].to_numpy()

array([[6. , 6.1],
       [6. , 6.2],
       [6. , 6.2],
       [4. , 5.9],
       [4. , 5.9],
       [4. , 5.9],
       [6. , 6.3],
       [7. , 7.8],
       [7. , 7.8],
       [7. , 7.8],
       [6. , 6.1],
       [7. , 7.8],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [5. , 6.5],
       [6. , 6. ],
       [5. , 6.5],
       [7. , 7.6],
       [7. , 7.7],
       [7. , 7.7],
       [7. , 7.7],
       [7. , 7.7],
       [7. , 7.8],
       [7. , 7.9],
       [7. , 7.8],
       [7. , 7.9],
       [7. , 7.9],
       [7. , 7.9],
       [5. , 6.4],
       [5. , 6.4],
       [8. , 7.9],
       [6. , 6.1],
       [7. , 7.7],
       [6. , 6.1],
       [6. , 6.1],
       [7. , 7.6],
       [7. , 7.6],
       [7. , 7.6],
       [7. , 7.7],
       [7. , 7.7],
       [7. , 7.7],
       [7. , 7.8],
       [7. , 7.7],
       [7. , 7.8],
       [7. , 7.7],
       [7. , 7.8],
       [7. , 7.7],
       [7. , 7.7],
       [8. , 7.5],
       [8. , 7.5],
       [6. , 6. ],
       [7. , 7.6],
       [6. , 6. ],
       [6. , 6. ],
       [7. , 7.7],
       [6. , 6. ],
       [6. , 6. ],
       [7. , 7.7],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6.2],
       [6. , 6.2],
       [6. , 6.2],
       [6. , 6.2],
       [8. , 7.2],
       [6. , 6. ],
       [6. , 6.2],
       [6. , 6.2],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [4. , 5.8],
       [4. , 5.8],
       [7. , 6.7],
       [7. , 6.7],
       [8. , 7.5],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.5],
       [7. , 7.4],
       [8. , 7.2],
       [8. , 7.1],
       [8. , 7.2],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [5. , 6.6],
       [8. , 7.2],
       [5. , 6.6],
       [6. , 6.1],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.4],
       [8. , 7.2],
       [8. , 7.4],
       [8. , 7.2],
       [8. , 7.4],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.5],
       [8. , 7.3],
       [8. , 7.1],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.1],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.1],
       [8. , 7.3],
       [8. , 7.3],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [8. , 7.1],
       [7. , 7.4],
       [8. , 7.2],
       [5. , 6.5],
       [7. , 6.9],
       [9. , 8. ],
       [9. , 8. ],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.2],
       [8. , 7.9],
       [8. , 7.9],
       [8. , 7.6],
       [8. , 7.3],
       [7. , 7.1],
       [7. , 7.1],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.6],
       [8. , 7.6],
       [8. , 7.6],
       [6. , 6.5],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [6. , 6.8],
       [6. , 6.8],
       [7. , 6.7],
       [6. , 6.3],
       [7. , 6.7],
       [6. , 6.5],
       [7. , 6.7],
       [6. , 6.4],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [6. , 6.5],
       [8. , 7.8],
       [8. , 7.8],
       [6. , 6.9],
       [8. , 7.6],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.7],
       [8. , 7.8],
       [8. , 7.7],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [8. , 7.8],
       [6. , 6.5],
       [7. , 6.6],
       [6. , 6.4],
       [6. , 6.3],
       [6. , 6.4],
       [7. , 6.6],
       [6. , 6.3],
       [7. , 6.6],
       [6. , 6.3],
       [7. , 6.6],
       [6. , 6.3],
       [7. , 6.6],
       [6. , 6.3],
       [7. , 6.6],
       [6. , 6.3],
       [7. , 6.6],
       [6. , 6.3],
       [6. , 6.4],
       [7. , 6.5],
       [6. , 6.3],
       [6. , 6.4],
       [7. , 6.5],
       [6. , 6.3],
       [6. , 6.4],
       [7. , 6.5],
       [6. , 6.3],
       [7. , 6.5],
       [6. , 6.3],
       [7. , 6.8],
       [6. , 6.4],
       [6. , 6.5],
       [7. , 6.8],
       [7. , 6.8],
       [7. , 6.5],
       [7. , 6.5],
       [7. , 6.5],
       [7. , 6.5],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.9],
       [7. , 7.3],
       [6. , 5.9],
       [7. , 7.3],
       [6. , 6.2],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6.2],
       [6. , 6.2],
       [6. , 6.2],
       [9. , 8.1],
       [9. , 8.1],
       [6. , 6.1],
       [9. , 8.3],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6.1],
       [9. , 8.5],
       [9. , 8.5],
       [9. , 8.5],
       [9. , 8.5],
       [7. , 7.1],
       [6. , 6. ],
       [6. , 6.1],
       [6. , 6.1],
       [7. , 6.5],
       [7. , 6.5],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [7. , 6.6],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.3],
       [9. , 8.5],
       [9. , 8.5],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.5],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.5],
       [9. , 8.3],
       [9. , 8.5],
       [9. , 8.3],
       [9. , 8.5],
       [9. , 8.3],
       [9. , 8.5],
       [9. , 8.5],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.4],
       [9. , 8.5],
       [9. , 8.1],
       [9. , 8.1],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.1],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.1],
       [9. , 8.1],
       [9. , 8.1],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8.1],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8.2],
       [9. , 8. ],
       [9. , 8. ],
       [9. , 8.1],
       [9. , 8. ],
       [9. , 8.1],
       [9. , 8.1],
       [9. , 8. ],
       [9. , 8.1],
       [9. , 8.1],
       [9. , 8.1]])

In [67]:
# TODO: Print the shape of the data
df[random_list].shape

(374, 2)

### Exercise 7: More Statistics

In [68]:
# TODO: Compute the mean of each columns (axis = 0)
df[random_list].mean(axis=0)

Quality of Sleep    7.312834
Sleep Duration      7.132086
dtype: float64

In [69]:
# TODO: Compute the standard deviation of the columns
df[random_list].std(axis=0)

Quality of Sleep    1.196956
Sleep Duration      0.795657
dtype: float64

In [70]:
# TODO: Compute the mean of each row (axis = 1)
df[random_list].mean(axis=1)

0      6.05
1      6.10
2      6.10
3      4.95
4      4.95
       ...
369    8.55
370    8.50
371    8.55
372    8.55
373    8.55
Length: 374, dtype: float64

In [71]:
# TODO: Compute the std deviation of each row
df[random_list].std(axis=1)

0      0.070711
1      0.141421
2      0.141421
3      1.343503
4      1.343503
         ...
369    0.636396
370    0.707107
371    0.636396
372    0.636396
373    0.636396
Length: 374, dtype: float64

### Exercise 8: Math Operations

In [72]:
# TODO: Calculate the dot product of the two original columns (you can think of these columns as vectors)
np.dot(df[random_list[0]], df[random_list[1]])

np.float64(19820.000000000007)

In [74]:
# TODO: Calculate the magnitude of both columns
np.linalg.norm(df[random_list[0]])
np.linalg.norm(df[random_list[1]])

np.float64(138.7813388031691)

In [75]:
# TODO: Find the cosine similarity (dot product / product of magnitudes)
np.dot(df[random_list[0]], df[random_list[1]]) / (np.linalg.norm(df[random_list[0]]) * np.linalg.norm(df[random_list[1]]))

np.float64(0.9966099615178343)

The cosine similarity is used to determine how related two features are to each other. A high value indicates that these features are highly correlated which means that changes in one variable corresponds to changes in the other. This is called **collinearity**.

Using two or more highly correlated features in a machine learning algorithm can lead to numerous problems such as redundant information and reduced model reliability

### Exercise 9: Further Analysis

#### Continue exploring and gaining more insights into your data. Utilize the docs linked above.